## Yfinance Example

[yfinance repo](https://github.com/ranaroussi/yfinance)

In [1]:
# !pip install yfinance -q

In [2]:
import yfinance as yf

In [3]:
# init ticker
google = yf.Ticker("GOOG")

In [10]:
# stock info
# google.info
list(google.info)[:10]

['address1',
 'city',
 'state',
 'zip',
 'country',
 'phone',
 'website',
 'industry',
 'industryKey',
 'industryDisp']

In [14]:
# historical data
history = google.history(period="5d") # ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']

In [15]:
history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-07-24 00:00:00-04:00,175.389999,177.949997,173.570007,174.369995,31250700,0.0,0.0
2024-07-25 00:00:00-04:00,174.250000,175.199997,169.050003,169.160004,28967900,0.0,0.0
2024-07-26 00:00:00-04:00,168.770004,169.839996,165.865005,168.679993,25150100,0.0,0.0
2024-07-29 00:00:00-04:00,170.500000,172.160004,169.720001,171.130005,13768900,0.0,0.0
2024-07-30 00:00:00-04:00,171.830002,172.949997,170.119995,171.860001,13631000,0.0,0.0

In [16]:
# share count
google.get_shares_full(start="2024-01-01", end=None)

2024-01-02 00:00:00-05:00    12456200192
2024-01-03 00:00:00-05:00    12449300480
2024-01-04 00:00:00-05:00    12446300160
2024-01-05 00:00:00-05:00    12655500288
2024-01-05 00:00:00-05:00    12434799616
                                ...
2024-07-25 00:00:00-04:00    12625899520
2024-07-26 00:00:00-04:00    12236399616
2024-07-27 00:00:00-04:00    12243399680
2024-07-30 00:00:00-04:00    12247100416
2024-07-31 00:00:00-04:00    12195099648
Length: 179, dtype: int64

In [19]:
# income stmt
google.income_stmt.head(5)

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-286479000.0,-981507000.0,1948860000.0,970572126.783412,NaN
Tax Rate For Calcs,0.139,0.159,0.162,0.162493,NaN
Normalized EBITDA,100032000000.0,91333000000.0,91491000000.0,55941000000.0,NaN
Total Unusual Items,-2061000000.0,-6173000000.0,12030000000.0,5973000000.0,NaN
Total Unusual Items Excluding Goodwill,-2061000000.0,-6173000000.0,12030000000.0,5973000000.0,NaN

In [20]:
# balance sheet
google.balance_sheet.head(5)

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,12460000000.0,12849000000.0,13242420000.0,13504440000.0,NaN
Share Issued,12460000000.0,12849000000.0,13242420000.0,13504440000.0,NaN
Total Debt,28504000000.0,29679000000.0,28395000000.0,26772000000.0,NaN
Tangible Book Value,254181000000.0,227184000000.0,227262000000.0,199924000000.0,NaN

In [22]:
# holder info
google.major_holders

Breakdown                          Value
insidersPercentHeld              0.00017
institutionsPercentHeld          0.62115
institutionsFloatPercentHeld     0.62126
institutionsCount             4909.00000

In [24]:
# news
google.news[0]

{'uuid': 'f4b73dfc-a3f5-300c-a1c7-7424a0daad1b',
 'title': 'Microsoft’s Azure Growth Slows, Testing Investors’ Patience',
 'publisher': 'Bloomberg',
 'link': 'https://finance.yahoo.com/news/microsoft-reports-slower-azure-cloud-203040185.html',
 'providerPublishTime': 1722382671,
 'type': 'STORY',
 'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/bhjpsLhkKxOh56Wi3Uv83A--~B/aD0xMzM0O3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_technology_68/d020a04ac916a32bdb621726838a58e9',
    'width': 2000,
    'height': 1334,
    'tag': 'original'},
   {'url': 'https://s.yimg.com/uu/api/res/1.2/J5gNJ2utuxEah3LRMKyCNg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/d020a04ac916a32bdb621726838a58e9',
    'width': 140,
    'height': 140,
    'tag': '140x140'}]},
 'relatedTickers': ['MSFT', 'GOOG']}